*,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191414;
}

div,
button {
  margin: 16px;
}

.songWrapper {
  border: solid 1px #7f7f7f;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

h2 {
  font-size: 48px;
}

img {
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2,
h4,
p {
  color: white;
}

h4:first-of-type {
  color: #7f7f7f;
}

a {
  color: #1db954;
  text-decoration: none;
}

button:first-child {
  background-color: #191414;
  border-radius: 28px;
  border: 1px solid #7f7f7f;
  display: inline-block;
  cursor: pointer;
  color: #7f7f7f;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

button:first-child:hover {
  background-color: #1db954;
}

button {
  background-color: #1db954;
  border-radius: 28px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

button:hover {
  background-color: #191414;
  transform: scale(1.05);
}

.featuredImage {
  height: 100%;
  width: 250px;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.featuredImage:hover {
  transform: scale(1.05);
}
